.loginModalBox{
    width: 400px;
    height: 584px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    box-shadow: 0px 4px 8px rgba(28, 12, 196, 0.1);
}
