.profile-container-main {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

.profile-container {
    border: 2px solid black;
    width: 80%;
    height: auto;
}
.profile-container-mini{
    display: flex;
    width: 100%;
    padding: 2rem;
    border: 1px solid black;
    
}