.sidebar-container{
    background-color: rgb(38, 220, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80vh;
    position: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 10vh;
    width: 20vh;
}