.myaccount-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.image-container{
    width: 7rem;
    height: 7rem;
    border: 1px solid red;
}

.myaccount-image {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
}