.myaccount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    width: 7rem;
    height: 7rem;
    /* border: 1px solid red; */
}

.myaccount-image {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.camera-icon {
    position: absolute;
    cursor: pointer;
}

.myaccount-text{
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    /* border: 1px solid black; */
}
.myaccount-text-1{
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}
